[Unit]
Description=GPIO Trigger Service
After=network.target
#Requires=mintcam.service
#After=mintcam.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/mintcam
ExecStart=python3 /home/pi/mintcam/gpio_trigger.py
Restart=always

[Install]
WantedBy=multi-user.target
