[Unit]
Description=Pi Cam Stream Flask App
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/mintcam
ExecStart=/home/pi/mintcam/autostart/start.sh
Restart=always
# Environment=FLASK_ENV=production   # if you use environments

[Install]
WantedBy=multi-user.target
